# This is a basic workflow to help you get started with Actions

name: Testing

# Controls when the action will run. 
on:
  push:
  pull_request:
  schedule:
    - cron: 0 0 * * * # daily at 00:00

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  test:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Run bazel build
        run: ./tools/bazel build //...
